.page-404 {
    background: url("../img/404.jpg") center center / cover no-repeat;
    display: block;
    position: relative;
}

.page-404_wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 40px 0;
}

.page-404_content {
    background-color: #1a191f;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 0;
    position: relative;
    width: 100%;
    max-width: 400px;
}

.page-404_title {
    position: relative;
    color: #ffd80e;
    line-height: 100%;
    font-size: 120px;
    margin-bottom: 10px;
    letter-spacing: 0.4px;
}

.page-404_text {
    text-align: center;
    display: block;
    width: 100%;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    letter-spacing: 0.4px;
}

.page-404__btn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 46px;
    width: 140px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-color: transparent;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    letter-spacing: 0.4px;
    border: 1px solid #ffd80e;
    margin-top: 20px;
}

@media (min-width: 576px) {
    .page-404_content {
        padding: 50px 0;
    }
}