    /*----- @imports -----*/
    
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Ubuntu:wght@300;400;500;700&display=swap');
    /* CSS rules to specify families */
    /* font-family: 'Open Sans',sans-serif;
font-family: 'Ubuntu',sans-serif; */
    
    html {
        box-sizing: border-box;
    }
    
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        margin: 0;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: rgb(205, 205, 207);
    }
    
    h4 {
        font-size: 24px;
        font-weight: 600;
        margin: .8em 0;
    }
    /* ---- Errors ---- */
    
    .page-404 {
        background: url("../img/section-bg.jpg") center center / cover no-repeat;
        display: block;
        position: relative;
    }
    
    .page-404_wrap {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        min-height: 100vh;
        padding: 40px 0;
    }
    
    .page-404_content {
        background-color: #1a191f;
        -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -moz-box-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 40px 0;
        position: relative;
        width: 100%;
        max-width: 400px;
    }
    
    @media (min-width: 576px) {
        .page-404_content {
            padding: 50px 0;
        }
    }
    
    .page-404_title {
        position: relative;
        color: #ffd80e;
        line-height: 100%;
        font-size: 7.5rem;
        margin-bottom: 10px;
        letter-spacing: 0.4px;
    }
    
    .page-404_text {
        text-align: center;
        display: block;
        width: 100%;
        padding: 0 20px;
        color: rgba(255, 255, 255, 0.8);
        font-size: 1rem;
        line-height: 26px;
        margin-bottom: 20px;
        letter-spacing: 0.4px;
    }
    
    .page-404_btn {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        height: 46px;
        width: 140px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background-color: transparent;
        font-size: 0.875rem;
        color: #ffffffb3;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        border: 1px solid #ffd80e;
        margin-top: 20px;
    }
    
    dropdown-menu {
        position: absolute;
        will-change: transform;
        top: 0px;
        left: 0px;
        transform: translate3d(-125px, 33px, 0px);
    }
    /* ---- Footer ---- */
    
    footer.footer.bg-dark {
        color: #ffffffb3;
    }
    
    .bg-dark {
        background-color: #212529!important;
    }
    
    .ptb60 {
        padding: 60px 0;
    }
    
    footer .widget-title {
        margin-top: 0;
        margin-bottom: 40px;
    }
    
    footer a.btn {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875rem;
        font-weight: bold;
        text-transform: lowercase;
    }
    
    a {
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        color: rgb(152, 22, 233);
        border-bottom: 1px solid dotted;
        text-decoration: none;
        cursor: pointer;
        list-style: none;
    }
    
    a:focus,
    a:hover,
    a:visited {
        text-decoration: none!important;
        outline: 0!important;
    }
    
    .list-inline {
        padding-left: 0;
        list-style: none;
    }
    
    .general-listing {
        padding: 0;
        margin: 0;
    }
    
    .general-listing li a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-bottom: 10px;
        -webkit-transition: .2s ease-in;
        -moz-transition: .2s ease-in;
        -ms-transition: .2s ease-in;
        -o-transition: .2s ease-in;
        transition: .2s ease-in;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .blog-posts {
        margin: 0;
        padding: 0;
    }
    
    footer .widget-blog .blog-posts li:first-child {
        padding-top: 0;
    }
    
    .widget-blog .blog-posts li {
        padding: 10px 0;
        margin: 0;
    }
    
    .widget-blog .blog-posts li small {
        display: block;
        color: #a8a1ac;
        text-transform: uppercase;
        font-weight: 500;
    }
    
    li {
        margin-bottom: 5px;
        list-style: none;
    }
    /* ---- Social Buttons ---- */
    /* .widget-social {
        text-align: center;
    } */
    
    ul.social-btns {
        display: inline-flex;
        background: rgba(256, 256, 256, 0.5);
        padding: 5px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 0px 32px -7px #291b3b27;
    }
    /* Helper class to divide the icons */
    
    .social-margin {
        margin-right: 5px;
    }
    
    .social-icon {
        box-sizing: border-box;
        -moz-border-radius: 120px;
        -webkit-border-radius: 120px;
        border-radius: 120px;
        border: 4px solid;
        text-align: center;
        width: 30px;
        height: 30px;
        display: inline-block;
        line-height: 10px;
        margin-top: 5px;
        padding: 5px;
        transition: all 0.5s;
    }
    
    .social-icon:hover {
        transform: rotate(360deg)scale(1.3);
    }
    /* Facebook Button Styling */
    
    .facebook {
        font-size: 0.8rem;
        margin-left: 5px;
        border-color: #3b5998;
        background-color: #3b5998;
        color: #ffffff;
    }
    
    .facebook:hover {
        background-color: #ffffff;
        color: #3b5998;
    }
    /* Twitter Button Styling */
    
    .twitter {
        font-size: 0.8rem;
        border-color: #55acee;
        background-color: #55acee;
        color: #ffffff;
    }
    
    .twitter:hover {
        background-color: #ffffff;
        color: #55acee;
    }
    /* Google Button Styling */
    
    .google {
        font-size: 0.8rem;
        background-color: #dd4b39;
        color: #ffffff;
        border-color: #dd4b39;
    }
    
    .google :hover {
        background-color: #ffffff;
        color: #dd4b39;
    }
    /* Youtube Button Styling */
    
    .youtube {
        font-size: 0.8rem;
        background-color: #bb0000;
        color: #ffffff;
        border-color: #bb0000;
    }
    
    .youtube :hover {
        background-color: #ffffff;
        color: #bb0000;
    }
    
    .form .form-control {
        width: 180px;
    }
    
    footer
    /* ---- Footer copyright ---- */
    
    footer.footer-copyright-area {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
    }
    
    .ptb30 {
        padding: 30px 0;
    }