{% extends "base.html" %} {% block title %}Page Not Found | {% endblock %} {% block content %}

<div class="page-404 section--bg" data-bg="../img/404.jpg">
    <!-- <img src="{{ url_for('static', filename='img/404.jpg') }}" alt="Page Not Found"> -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-404_wrap">
                    <div class="page-404_content">
                        <h1 class="page-404_title">404</h1>
                        <p class="page-404_text">The page you are looking for not available!</p>
                        <a href="{{ url_for('index') }}" class="page-404_btn">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}