<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}{% endblock %}Movies-DB</title>
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/x-icon">
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#212529">
    <meta name="keywords" content="movies, series, cinema">
    <meta name="author" content="Shades Studio">
    <!-- Fontawesome CSS -->
    <script src="https://kit.fontawesome.com/a31a7b74fd.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header_content">
                        <!-- header logo -->
                        <a class="navbar-brand" href="{{ url_for('index') }}">
                            <img src="{{ url_for('static', filename='img/favicon.ico') }}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"> Movies-DB
                        </a>
                        <!-- end header logo -->

                        <!-- header nav -->
                        <ul class="header_nav">
                            <li><a href="{{ url_for('index') }}">Home</a></li>

                            <!-- dropdown -->
                            <li class="header_nav-item">
                                <a class="dropdown-toggle header_nav-link" href="#" role="button" id="dropdownMenuCatalog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catalog</a>

                                <ul class="dropdown-menu header_dropdown-menu" aria-labelledby="dropdownMenuCatalog">
                                    <li><a href="{{ url_for('get_categories') }}">Categories</a></li>
                                    <li><a href="details.html">Movie Detail</a></li>
                                </ul>
                            </li>
                            <!-- end dropdown -->

                            <li class="header_nav-item">
                                <a href="{{ url_for('faq') }}" class="header_nav-link">Help</a>
                            </li>

                            <!-- dropdown -->
                            <li class="dropdown header_nav-item hide">
                                <a class="dropdown-toggle header_nav-link header_nav-link--more" href="#" role="button" id="dropdownMenuMore" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fas fa-caret-square-down"></i></a>

                                <ul class="dropdown-menu header_dropdown-menu hide" aria-labelledby="dropdownMenuMore" x-placement="bottom-start">
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="profile.html">My Profile</a></li>
                                    <li><a href="signin.html">Sign In</a></li>
                                    <li><a href="signup.html">Sign Up</a></li>
                                    <li><a href="privacy.html">Privacy Policy</a></li>
                                    <li><a href="contacts.html">Contacts</a></li>
                                    <li><a href="404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <!-- end dropdown -->
                        </ul>
                        <!-- end header nav -->

                        <!-- header auth -->
                        <div class="header_auth">
                            <form action="#" class="header_search">
                                <input class="header_search-input" type="text" placeholder="Search...">
                                <button class="header_search-button" type="button">
                                    <i class="fas fa-search"></i>
                                </button>
                                <button class="header_search-close" type="button">
                                    <i class="far fa-window-close"></i>
                                </button>
                            </form>

                            <a href="signin.html" class="header_sign-in">
                                <i class="fas fa-sign-in-alt"></i>
                                <span>sign in</span>
                            </a>
                        </div>
                        <!-- end header auth -->
                        <!-- header menu btn -->

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!---CONTENT-->
    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <!--Footer-->
    <footer class="footer bg-dark">
        <!-- <img src="{{ url_for('static', filename='img/ft-bg.jpg') }}" alt="footer background"> -->
        <div class="footer-widget-area ptb60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget widget-links">
                            <h4 class="widget-title">Useful Links</h4>
                            <ul class="general-listing">
                                <li><a href="#">About Movies-DB</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">My Profile</a></li>
                                <li><a href="#">Watch List</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget widget-blog">
                            <h4 class="widget-title">Latest News</h4>
                            <ul class="blog-posts">
                                <li><a href="#">blog post 1</a><small>januar 13, 2020</small></li>
                                <li><a href="#">blog post 2</a><small>januar 13, 2020</small></li>
                                <li><a href="#">blog post 3</a><small>januar 13, 2020</small></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget widget-social">
                            <h4 class="widget-title">Follow Us</h4>
                            <!-- <p>Lorem ipsum dolor sit amet.</p> -->
                            <ul class="social-btns">
                                <li>
                                    <a href="http://www.facebook.com" target="_blank" rel="noopener" class="social-margin">
                                        <div class="social-icon facebook">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://twitter.com/" target="_blank" rel="noopener" class="social-margin">
                                        <div class="social-icon twitter">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/" target="_blank" rel="noopener" class="social-margin">
                                        <div class="social-icon google">
                                            <i class="fa fa-google" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://youtube.com/" target="_blank" rel="noopener" class="social-margin">
                                        <div class="social-icon youtube">
                                            <i class="fa fa-youtube" aria-hidden="true"></i>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget widget-newsletter"></div>
                        <h4 class="widget-title">Newsletter</h4>
                        <!-- <p>Subscribe to our newsletter system now <br> to get latest news from us.</p> -->
                        <form action="#">
                            <div class="form">
                                <!-- <label for="formControlEmail">Email address</label> -->
                                <input type="email" class="form-control" id="formControlEmail" placeholder="name@example.com">
                            </div>
                        </form>
                        <a href="#" class="btn btn-danger">Subscribe now <i class="far fa-hand-point-up"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer copyright -->
        <div class="footer-copyright-area ptb30">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex">
                            <div class="links">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><a href="#">About Us</a></li>
                                    <li class="list-inline-item"><a href="{{ url_for('faq') }}">Help</a></li>
                                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                                </ul>
                            </div>
                            <div class="copyright ml-auto">
                                © 2020 Movies-DB MS3. Create by
                                <a href="https://github.com/morphy80/CI_MS3---Data-Centric---Movies-DB" target="_blank">Alex Apostoiu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!---SCRIPTS-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>