{% extends 'base.html'%} {% block content %}
<!--For loop to display category names-->
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="categories">Categories</button>
<div class="row">
    <ul class="collapse multi-collapse" id="categories">
        {% for category in categories %}
        <li>
            <div class="task_header">
                <strong>{{category.genres}}</strong>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}