{% extends 'base.html' %}
{% block content %}

        {% for movie in movies %}
            {{movie.title}}
            {{movie.genres}}
            {{movie.year}}
            {{movie.rating_imdb}}
            {{movie.runtime}}
            {{movie.director}}
            {{movie.writter}}
            {{movie.stars_cast}}
            {{movie.synopsis}}
            {{movie.language}}
            {{movie.img_src}}
            {{movie.date_added}}
            {{movie.date_updated}}
            {{movie.views}}
            {{movie.user_favs}}
        {% endfor %}
        
{% endblock %}